<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://www.minion550.io" target="_blank"
    >
      Paul
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/minion550/chatgpt-MVP" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
